@inherits LayoutComponentBase

<div class="page">
    <div class="topbar">
        <div id="nav_header">
            <div class="news">Breaking news </div>
            <div class="nav_contact">
                <span> Contacts:</span>
                <span> +237 6 99 81 95 82 </span>
                |
                <span> +237 6 79 28 17 78 </span>
            </div>
            <div id="lang_bar">
                <span>Langue</span>
                <div id="lang_selector">

                </div>
            </div>
        </div>
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>

    
</div>
