<nav id="bar">
    <div class="icon">
        <img src="./images/Logo St Paul.png" />
    </div>
    <div class="links">
        <NavLink class="link" href="Accueil" Match="NavLinkMatch.Prefix">
            <span aria-hidden="true">Accueil</span>
        </NavLink>
        <NavLink class="link" href="A propos" Match="NavLinkMatch.All">
            <span aria-hidden="true">A Propos</span>
        </NavLink>
        <NavLink class="link" href="Services" Match="NavLinkMatch.All">
            <span aria-hidden="true">Services</span>
        </NavLink>
    </div>

    <div id="burger">
          <div></div>
          <div></div>
    </div>
    

</nav>





