<nav id="bar">
    <div class="top">
        <div class="icon">
            <img src="./images/Logo St Paul.png" />
        </div>
        <div id="burger">
            
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="links">
        <NavLink class="link" href="Accueil" Match="NavLinkMatch.Prefix">
            <span aria-hidden="true">Accueil</span>
        </NavLink>
        <NavLink class="link" href="A propos" Match="NavLinkMatch.All">
            <span aria-hidden="true">A Propos</span>
        </NavLink>
    </div>
</nav>

<script>
    const burger = document.getElementById("burger");
    const nav = document.getElementById("bar");
    if (burger){
        burger.addEventListener("click", () => {
            console.log("clicked");
            nav.classList.toggle("extended");
        })
    }
</script>






