<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Hean from heanlab.com" />
    <meta name="description" content="La maison de la santé saint-paul est un centre de santé communnautaire situé dans la ville de Yaoundé et né d'un partenariat belgo-camerounais entre l'ASBL belge 'Maison de la santé Saint-Paul' située à Jette, et M. ABA'A Evoundou Raymond. Le centre a pour but de rendre les soins de santé accéssibles en pratiquant une politique de proximité.">
    <meta  name="apple-mobile-web-app-title" content="Maison de la santé saint-Paul"/>
    <meta name="application-name" content="Votre Maison Saint-Paul"/>
    <meta  name="keywords" content="MSSP, Maison de la santé, Maison de la santé saint-paul, Saint-Paul Yaoundé, Clinique Yaoundé, maison clinique "/>
    <base href="/" />
   
    <link rel="stylesheet" href="mssp_application.style.css" />
    <link rel="stylesheet" href="activities.css" />
    <link rel="stylesheet" href="services.css"/>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <script src="./js/three.js/three.min.js"> </script>
    <script src="./js/vanta/vanta.birds.min.js"> </script>
    
    <HeadOutlet />
</head>

<body id="body">
    <Routes />


    <script src="_framework/blazor.web.js"></script>
</body>

</html>
