@page "/A propos"
<section id="about" class="standard_page">
    <div class="presentation">
            <img src="/images/us1.jpg" />
    <div class="part">
        
        <span class="title">Notre histoire</span>
        <p>
            Depuis 1998, la Maison de la Santé Saint Paul se dresse comme un pilier de la santé communautaire au Cameroun, un havre d'espoir et de soins au cœur de Yaoundé. Née d'une coopération entre visionnaires belges et camerounais, notre clinique incarne l'esprit d'unité et de service.
        </p>
    </div>

    <div class="part">
        <span class="title">Notre mission</span>
        <p>
            Engagée à offrir des soins de santé essentiels et abordables aux communautés sous-desservies, nous adhérons aux principes énoncés dans la déclaration d'Alma Ata, assurant que l'assistance médicale de qualité n'est pas un privilège mais un droit pour tous. Notre approche est holistique, luttant contre les défis de santé non seulement sur le plan médical mais aussi à travers l'éducation, la prévention et l'autonomisation communautaire.
        </p>
    </div>

    <div class="banc">
        <img src="/images/us2.jpg" data-description="Photo d'équipe de la MSSP en décembre 1998 à Yaoundé"/>
        <img  src="/images/us3.jpg"/>
    </div>

    <div class="part">
        <span class="title">Notre impact</span>
        <p>
            Au fil des ans, nous avons participé à de nombreuses activités de santé communautaire, touchant la vie de milliers de personnes. De la lutte contre les maladies infectieuses à l'éducation sur la nutrition et l'hygiène, nos efforts ont favorisé une communauté plus saine et mieux informée.
        </p>
    </div>

    <img  src="/images/us4.jpg"/>
    <div class="part">
        <span class="title">Notre vision</span>
        <p>
            Nous envisageons un avenir où chaque individu au Cameroun a accès aux soins de santé qu'il mérite. Avec des projets et des partenariats en cours, nous élargissons notre portée, une vie à la fois.
        </p>
    </div>
    <div class="part bloc">
        <img src="/images/team.jpg"/>
        <span class="title">Rejoignez-nous</span>
        <p>
            Nous envisageons un avenir où chaque individu au Cameroun a accès aux soins de santé qu'il mérite. Avec des projets et des partenariats en cours, nous élargissons notre portée, une vie à la fois.
        </p>
    </div>
    </div>


</section>

@code {

}
