@page "/"
@page "/Accueil"

<PageTitle>Home</PageTitle>

<section id="home">
    <div class="presentation">
        <div class="left">
            <span>
                Maison de la santé <br />
                Saint-Paul
            </span>
            <a aria-label="Chat on WhatsApp" href="https://wa.me/237679281778" class="whaBtn"> 
                <img src="/images/whatsapp.svg"/>
                Prendre RDV
            </a>
           

        </div>
        <div class="right" data-tilt data-tilt-full-page-listening data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500" data-tilt-axis="x">
            <img src="/images/img2.png" />
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" >
                <path fill="navy" d="M59.3,-54.4C75.1,-43.5,85,-21.7,81,-4C77.1,13.8,59.2,27.6,43.4,40.9C27.6,54.2,13.8,66.9,-4.6,71.5C-23,76.1,-46,72.6,-57.6,59.3C-69.2,46,-69.4,23,-67.7,1.7C-66,-19.7,-62.5,-39.3,-50.9,-50.2C-39.3,-61.1,-19.7,-63.3,1,-64.3C21.7,-65.4,43.5,-65.3,59.3,-54.4Z" transform="translate(100 100)" />
               
            </svg>
        </div>
    </div>

    <p class="bloc_title">Nos services</p>
    <div class="all_services">
    <div class="service">
            <img src="/images/med.jpg" />
            <span class="service_title">Médecine<br/> générale</span>
            <div class="service_resume">
                Soins complets pour tous âges, diagnostics, traitements, et suivi continu de la santé globale.
            </div>
        </div>
        <div class="service">
            <img src="/images/medecine.png" />
            <span class="service_title">Infirmerie</span>
            <div class="service_resume">
                Soins infirmiers de base, gestion de la douleur, surveillance des patients, et administration de médicaments.
            </div>
        </div>
        <div class="service">
            <img src="/images/lab.jpg" />
            <span class="service_title"> Laboratoire</span>
            <div class="service_resume">
                Analyses de sang, d'urine et d'autres échantillons pour diagnostics précis et choix de traitements.
            </div>
        </div>
        <div class="service">
            <img src="/images/us6.jpg" />
            <span class="service_title">Dentisterie</span>
            <div class="service_resume">
                Soins dentaires complets, incluant les nettoyages, les extractions, les implants, et les traitements de canal.
            </div>

        </div>
    </div>
</section>
