@page "/"
@page "/Accueil"
@inject IConfiguration Configuration
@using mssp_application.Components.Layout

<PageTitle>Home</PageTitle>

<section id="home" class="standard_page">
    <div class="presentation">
        <div class="top">
            <span>
                Maison de <br>la santé <br />
                Saint-Paul
            </span>
            <h6>Soigner avec humanité, proximité et efficacité</h6>
        </div>
        <div class="bottom">
            <div class="bloc blue">
                <span class="title">Consultation</span>
                <div class="bloc_links">
                    <a href="#" class="link fill disabled"> Nos Services </a>
                    <a href="https://wa.me/237679281778" class="link fill white"> Prendre RDV </a>
                </div>
            </div>
            <div class="bloc">
                <span class="title">Patients</span>
                <div class="bloc_links">
                    <a href="#" class="link fill disabled">Mon dossier médical</a>
                    <a href="#" class="link fill disabled">Télécharger mes résulats</a>
                </div>
            </div>
            <div class="bloc">
                <span class="title">Infos santé</span>
                <div class="bloc_links">
                    <a href="https://www.linkedin.com/posts/renacesc-renacesc-945136362_bienvenue-renacesc-santaezpourtous-activity-7330593203265437698-jBHX/?utm_source=share&utm_medium=member_android&rcm=ACoAADgj4l0BT2tcGxvzGNH3qGfhL1sDnbnl-fg" class="link fill blue"> RENACESC </a>
                    <a href="#" class="link fill white disabled"> Actualité </a>
                    <a href="#" class="link fill white disabled"> Nous soutenir </a>
                </div>
            </div>
        </div>
    </div>

    <!-- #Activities -->
    <Activity></Activity>
</section>
@code {
}