@page "/"
@page "/Accueil"

<PageTitle>Home</PageTitle>

<section id="home" class="standard_page">
    <div class="presentation onepage">
        <div class="top">
            <span>
                Maison de <br>la santé <br />
                Saint-Paul
            </span>
        </div>
        <div class="bottom">
            <div class="bloc">
                <span class="title"> Accès rapide</span>
                <div class="bloc_links">
                    <a href="#" class="link fill disabled"> Nos Services </a>
                    <a href="https://wa.me/237679281778" class="link fill white"> Prendre RDV </a>
                </div>
            </div>
        </div>
    </div>

</section>
