:root {
    --primary-text-color: #01009A;
    --secondary-text-color: #F1F1F1;
    --main-background: #F1F1F1;
    --mssp-blue: #01009A;
    --header-bg-secondary: #808080;
    --header-primary-bg: #ffffff99;
}
a{
    text-decoration:none;
    color:var(--primary-text-color);
    font-family:Roboto, Arial, Helvetica, sans-serif;
    font-weight:100;
}
a:visited{
    color:var(--primary-text-color);
    text-decoration:none;
    font-family:Roboto, Arial, Helvetica, sans-serif;
    font-weight:100;
}
section{
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
}

section::-webkit-scrollbar{
    display:none;
}

body {
    background-color: red;
    width: 100vw;
    overflow: hidden;
    padding: unset;
    margin: unset;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    background-color: var(--main-background);
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.page{
    display:flex;
    flex-flow:column nowrap;
    position:relative;
    width:100%;
    overflow-x:hidden;
    aspect-ratio:16/9;
    position:relative;
}


.topbar {
    position: fixed;
    width: 100%;
    margin: unset;
    padding: unset;
    display: flex;
    flex-flow: column nowrap;
    background-color: #ffffff99;
    align-self: center;
    top:0px;
    left:0px;
    backdrop-filter:blur(2rem);
    -webkit-backdrop-filter:blur(2rem);
}
.topbar #nav_header{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    color: var(--primary-text-color);
    background-color: var(--header-bg-secondary);
    flex-flow:row nowrap;
    gap:3px;
}
.topbar #nav_header > div {
    background-color: var(--main-background);
    padding-block: 10px;
}
nav {
    height: calc(2vh + 60px);
}

#bar {
    position:relative;
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
}
#bar .icon img{
    width:100px;
    margin-left:5vw;
}
#bar .links {
    display: flex;
    flex-flow: row wrap;
    gap:50px;
    font-family:Roboto, Arial, Helvetica, sans-serif;
    font-weight:100;
    text-decoration:none;
    margin-right:5vw;
}
#bar .links .link{
    padding-inline: 12px;
    padding-block: 12px;
    border-radius: 8px;
    width:fit-content;
}
#bar .links .active{
    color:var(--secondary-text-color);
    background-color : var(--mssp-blue);
}
#burger{
    display:flex;
    flex-flow:column nowrap;
}
#burger > div{
    width:30px;
    height:3px;
    background-color:var(--header-bg-secondary);
    margin:2px;
}


.news {
    flex-grow: 13;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.nav_contact{
    display:flex;
    flex-grow:3;
    padding-inline:10px;
    gap:1rem;
    max-width:450px;
  
}
#lang_bar {
    flex-grow: 1;
    padding-inline: 10px;
    max-width:120px;
}


#home{
    background-image:url("images/medecine.png");
    background-repeat:no-repeat;
    width:100%;
    height:100vh;
    background-size:cover;
    background-attachment:local;
    background-clip:content-box;
}

/* !!!!!!!!!!!!!!!!!!!!!!!   Adaptions for maobile  !!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (max-width:768px) {
    .topbar #nav_header{
        display:none;
    }
    #bar .links {
        position: fixed;
        width: 100%;
        top: 80px;
        left: 0px;
        flex-flow: column nowrap;
        background-color: var(--header-primary-bg);
        margin: unset;
        padding: unset;
        align-items:center;
    }
}
