body {
    margin: 0px;
    padding: 0px;
    display: flex;
    background-color: ghostwhite;
    -webkit-flex-direction: column;
    flex-direction: column;

    .page {
        .topbar {
            .bar {
                position: fixed;
                width: 100%;
                top: 0;
                background-color: white;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                height: 40px;

                .links {
                    gap: 10px;
                    letter-spacing: 1px;
                    font-family: Dubai;

                    .link {
                        text-decoration: none;
                    }
                }

                .user {
                    font-family: Ubuntu;
                    font-weight: 100;
                    color: gray;
                    font-size: 10px;
                    svg{
                        width:10px;
                    }
                    span {
                        margin-inline: 30px;
                    }
                    .btn{
                        color:aliceblue;
                        background-color:navy;
                        border:none;
                        border-radius:5px;
                        padding:5px;
                    }
                }
            }
        }


        main{
            article{
                #connexion{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin-top: 50px;
                    margin-bottom: 50px;
                    .form{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        .input{
                            width: 300px;
                            height: 30px;
                            border: 1px solid gray;
                            border-radius: 5px;
                            padding: 5px;
                        }
                        .btn{
                            width: 300px;
                            height: 30px;
                            border: none;
                            border-radius: 5px;
                            background-color: navy;
                            color: aliceblue;
                            font-family: Ubuntu;
                            font-weight: 100;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
